.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("../../assets/images/Christmas.png") no-repeat center center/cover;
  box-shadow: 4px 4px 5px rgba(204, 116, 57, 0.5);
  color: white;
  padding: 1.5rem 2rem;
}

.navBar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
}

.navBar ul li {
  margin-right: 20px;
}

.navBar a {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}

.navBar a:hover {
  color: #1E90FF; /* SteelBlue */
  cursor: pointer;
}