.container {
  margin: 0 auto;
  overflow: auto;
  text-align: center;
  min-height: 86.5vh;
  padding-top: 5vh;
  background: linear-gradient(to bottom, #54e7e0, rgb(135, 195, 222));
  font-family: Arial, sans-serif;
}