/* Removes broswer defaults */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Includes  padding and borders in the total width and height of an element */
}

/* Sets every element to border-box */
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  margin: 0 auto;
  overflow: auto;
  text-align: center;
  min-height: calc(100vh - 100px);
  /* 100 make scroll bar, because of header at top. How do I do 100%-header? */
  padding-top: 1vh;
  background: linear-gradient(to bottom, #54e7e0, rgb(135, 195, 222));
  font-family: Arial, sans-serif;
}

.buttonContainer {
  display: flex;
  gap: 1em;
  justify-content: center;
}

.giftBox {
  width: 80%;
  min-width: 600px;   /* Interim solution to keep background > table width */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: rgb(49, 113, 170);
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  outline: black solid 1px;
}

.giftBox table {
    border-collapse: collapse; /* Makes box borders merge into a single border */
}

.giftBox th, .giftBox td {
    border-collapse: collapse;
    border: 1px solid white; /* Sets a white border around each cell */
    padding: 8px;
}

.linksAndNotes{
  width: 30%;
}

.addGiftBox {
  margin-top: 3em;
  width: 60%;
  min-width: 500px;   /* Interim solution to keep background > table width */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  background-color: rgb(49, 113, 170);
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  outline: black solid 1px;
}

.addGiftGroup {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.memberSelectBox {
  width: 30%;
  margin: 0 auto;
  /* margin-top: 3em; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background-color: rgb(49, 113, 170);
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  outline: black solid 1px;
}