/* Removes broswer defaults */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Includes  padding and borders in the total width and height of an element */
}

/* Sets every element to border-box */
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  margin: 0 auto;
  overflow: auto;
  text-align: center;
  min-height: calc(100vh - 100px);
  /* 100 make scroll bar, because of header at top. How do I do 100%-header? */
  padding-top: 1vh;
  background: linear-gradient(to bottom, #54e7e0, rgb(27, 185, 124));
  font-family: Arial, sans-serif;
}

.buttonContainer {
  display: flex;
  gap: 1em;
  justify-content: center;
}

.giftBox {
  width: 80%;
  min-width: 800px;   /* Interim solution to keep background > table width */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: rgb(49, 113, 170);
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  outline: black solid 1px;
}



.giftBox table {
    border-collapse: collapse; /* Makes box borders merge into a single border */
}

.giftBox th, .giftBox td {
    border-collapse: collapse;
    border: 1px solid white; /* Sets a white border around each cell */
    padding: 8px;
}

.giftBox .header {
    background-color: rgb(62, 162, 202);
    color: white;
}

.giftBox .row:nth-child(odd){
  background-color: rgb(46, 126, 158);
  color: white;
}

.giftBox .row:nth-child(even){
  background-color: rgb(77, 143, 168);
  color: white;
}

.giftBox table .noBorderColumn {
  border: none;
  background-color: rgb(49, 113, 170);
}

.linksAndNotes{
  width: 30%;
}

/* Used for adding, editing, and deleting gifts */
.handleGiftBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  background-color: rgb(49, 113, 170);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  outline: black solid 2px;
}

.handleGiftGroup {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.checkboxesVertical {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column; /* Aligns checkboxes vertically, but not under All*/ 
}
.memberSelectBox {
  width: 30%;
  margin: 0 auto;
  /* margin-top: 3em; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background-color: rgb(49, 113, 170);
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  outline: black solid 1px;
}

/* New Box Radio Buttons */
.boughtStatus {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.boughtOption {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Spacing between options */
}

.boughtOption input[type="radio"] {
  display: none; /* Hide the default radio button */
}

.boughtOption span {
  display: block;
  width: 20px;
  height: 20px;
  color: white;
  line-height: 50px;
  border: 2px solid transparent;
  cursor: pointer;
  margin-left: 10px;
}

.boughtOption label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.boughtOption.none span {
  background-color: green;
}

.boughtOption.moreOk span {
  background-color: yellow;
}

.boughtOption.noMore span {
  background-color: red;
}

.boughtOption input[type="radio"]:checked + span {
  border-color: black; /* Highlight the selected option */
}

.boughtBox {
  display: block;
  size: fill;
  height: 30px;
  color: white;
  line-height: 50px;
}
.boughtBox.none {
  background-color: green;
}

.boughtBox.moreOk {
  background-color: yellow;
}

.boughtBox.noMore {
  background-color: red;
}


/* NavBar Styling */
.navBar {
  display: flex;
  justify-content: space-around; 
  /* I see no difference with center or nothing at all. */
  align-items: center;
  /* Same without */
  background: url("./assets/images/Christmas.png") no-repeat center center/cover;
  box-shadow: 4px 4px 5px rgba(204, 116, 57, 0.5);
  /* Barely visible change, need to understand better */
  color: white;
  height: 100px;
}

.navBar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0 auto; /* Auto margins for horizontal centering */
}


.navBar li {
  background: gray;
  border-radius: 5px;
  margin: 0 10px;
}

.navBar a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
}

.navBar a:hover {
  background-color: #b0b0b0;
  color: #1E90FF;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}